<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Functions</h3>
  </div>
  <div class="panel-body">
    {{#each function in model}}
      {{code-function function=function types=types}}
    {{/each}}
  </div>
</div>
